*{
    margin:0%;
    padding: 0%;
    background-color: #F0F2F5;
}
.textbox{
    margin-top:200px;
    margin-left:290px;
}
img{
    margin-left: -37px;
}
h2{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}
.container{
   
    width:396px;
    height:350px;
    margin-top: -250px;
    margin-right: 280px;
    float: right;
    border-radius: 12px;
    background-color: white;
    text-align:center;

}
.form{
    float: right;
    background-color: white;
    margin-top: -12px;
    width:390px;
    height:340px;
    padding: 20px;

}
.form input{

    margin-top: 10px;
    margin-left: -10px;
    border-radius: 8px;
    margin-right: -10px;
    padding: 17px;
    width: 90%;

}
button{
    margin-top: 15px;
    background-color: #1877f2;
    padding:16px;
    width:100%;
    border-radius: 8px;
    color:white;
    font-family: sans-serif;
    font-size:18px;

}
p{
    background-color: white;
    font-size: 16px;
    color: #1877f2;
    margin-top:10px;
}
p a{
    color: #1877f2;
    background-color: white ;
}
.btn {
    margin-top: 8px;
    padding: 7px;
    background-color:white ;
    margin-left: 60px;
    margin-right: 60px;
}
.btn button{
    background-color:#1b9c24 ;

}